<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <title>TWITTER SENTIMENT PREDICTOR USING MACHINE LEARNING</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
 <div class="login">
    <h1>Twitter Sentiment ML predictor</h1>
    <p>This model is capable of predicting the sentiment of any tweet you lock in</p>
    
    <!-- Main input for receiving query to the ML prediction model -->
    <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="sentence" placeholder="Please enter a Tweet" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict my Tweet's sentiment</button>
    </form>
    
  <br>
  <br>
  {{ prediction_text }}

 </div>
 

</body>
</html>